*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5;

}
.hero-section1{
    margin-top: 77px;
}

.hero-section1 img{
    width: 100%;
    margin-bottom: -10px;
}
.top1 h3{
    position: absolute;
    top: 30%;
    left: 15%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;

}
.top1 button{
    position: absolute;
    top: 40%;
    left: 15%;
    padding: 15px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}
.top2 h3{
    position: absolute;
    top: 125%;
    left: 15%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.top2 button{
    position: absolute;
    top: 135%;
    left: 15%;
    padding: 15px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
}
.main h1{
    text-align: center;
    margin: 20px;
}
.hero-section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;
    gap: 20px;
    flex: 1 1 300px;
}
.product-card{

    box-shadow: 0 4px 8px;
    transition: transform 0.3s,box-shadow 0.3s;
    max-width: 700px;
    justify-content: space-around;
}
.product-card:hover{
    transform: translateY(-10px);
}
#shoe-1:hover{
    content: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/979b1355f7da4d3b8cfaa81700a2886b_9366/Gazelle_Shoes_Black_CQ2809_02_standard_hover_hover_hover_hover.jpg);
}
#shoe-2:hover{
    content: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/aa8968648a604bb3971dafab00e9b6ec_9366/Samba_OG_Shoes_White_IG1024_02_standard_hover_hover_hover_hover_hover.jpg);
}
#shoe-3:hover{
    content: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/712e5fe60f324545a0feadf2017bcada_9366/Stan_Smith_Shoes_White_GW0489_02_standard_hover.jpg);
}
#shoe-4:hover{
    content:url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ac706d8555244a6e8ea7ac1e00f521d1_9366/Stan_Smith_Shoes_White_FX5502_02_standard_hover_hover_hover.jpg);
}
#cloth-1:hover{
    content: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/78c4cfd9035d48f38e89bbc01c3b323d_9366/India_Cricket_Anthem_Jacket_Men_Blue_JJ1158_23_hover_model.jpg);
}
#cloth-2:hover{
    content: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/51701b9f33ef4d94ae69af710143afd0_9366/Essentials_Single_Jersey_Tapered_Badge_of_Sport_Pants_Blue_IC9428_23_hover_model.jpg);
}
#cloth-3:hover{
    content: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/27add3c05d5140f1bd09aa01258cdf19_9366/Future_Icons_Badge_of_Sport_Hoodie_Grey_IN3324_23_hover_model.jpg);
}
#cloth-4:hover{
    content: url(https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/f7c0e2facc904875918a6053d542a94b_9366/INDIA_CRICKET_TRAVEL_UPPER_Grey_JM7369_23_hover_model.jpg);
}

.hero-section2 img{
    width: 100%;
    height: 357px;
    object-fit: cover;
}
.pro-info{
    background-color: whitesmoke;
    padding: 10px;
    margin-top: -4px;
    flex: 1;

}
.pro-info button{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    font-size: larger;
}
.pro-info button:hover{
    background-color: aqua;
}
.perc{
    position: absolute;
    top: 70%;
    left: 3%;
    background-color: azure;
}







